nu-separator {
  --nu-line-color: var(--current-border-color, var(--default-border-color));
  --nu-line-size: var(--pixel);

  display: block;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: var(--nu-line-size);
  max-height: var(--nu-line-size);
  line-height: 0;
  place-self: stretch;
  grid-column: 1 / -1;
  background-color: var(--nu-line-color);
}

nu-separator[nu-vertical] {
  grid-row: 1 / -1;
  grid-column: unset;
  min-height: 100%;
  max-height: unset;
  min-width: var(--nu-line-size);
  max-width: var(--nu-line-size);
}
