nu-separator {
  --line-color: var(--current-color, var(--border-color));
  --line-size: var(--pixel);

  display: block;
  position: relative;
  width: 100%;
  height: var(--line-size);
  max-height: var(--line-size);
  line-height: 0;
  place-self: stretch;
  grid-column: 1 / -1;
  background-color: var(--line-color);
}

nu-separator[nu-vertical] {
  grid-row: 1 / -1;
  grid-column: unset;
  height: 100%;
  max-height: unset;
  width: var(--line-size);
  max-width: var(--line-size);
}
