nu-btn {
  --nu-border-color: var(--current-border-color, var(--default-border-color)) inset;
  --nu-toggle-color: transparent;
  --nu-depth-color: transparent;
  --nu-border-radius: var(--border-radius);

  --nu-toggle-shadow: 0 0 1rem 0 var(--nu-toggle-color) inset;
  --nu-border-shadow: 0 0 0 var(--pixel) var(--nu-border-color);
  --nu-depth-shadow: 0 .25rem 1.5rem var(--nu-depth-color);

  position: relative;
  display: inline-grid;
  border-radius: var(--nu-border-radius, .5rem);
  place-content: stretch;
  place-items: center;
  grid-auto-flow: column;
  grid-gap: .5rem;
  padding: .5rem 1rem;
  color: var(--current-color, var(--color, #333));
  background-color: var(--current-background-color, var(--default-background-color));
  cursor: pointer;
  box-shadow: var(--nu-depth-shadow),
    var(--nu-focus-background-shadow),
    var(--nu-toggle-shadow),
    var(--nu-border-shadow);
  transition: box-shadow var(--quick-animation-time) linear;
  user-select: none;
  vertical-align: middle;
  opacity: 1;
  z-index: 0; /* to make :hover::after z-index work as expected */
  box-sizing: border-box;
  white-space: nowrap;
}

nu-btn:not([disabled])::after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: background-color var(--quick-animation-time) linear;
  background-color: rgba(128, 128, 128, 0);
  border-radius: inherit;
}

nu-btn:not([disabled]):hover::after {
  background-color: rgba(128, 128, 128, .07);
}

nu-btn[disabled] {
  opacity: .5;
  cursor: default;
}

nu-btn[nu-active] {
  text-decoration: none;
}

nu-btn[nu-active]:not([disabled]), nu-btn[nu-toggled]:not([disabled]) {
  --nu-toggle-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nu-btn[special] {
  --nu-border-color: transparent;
  background-color: var(--current-special-color, var(--default-color));
  color: var(--current-background-color, var(--default-background-color));
}
