nu-btn {
  --nu-toggle-color: transparent;
  --nu-depth-color: transparent;
  --nu-border-radius: var(--nu-theme-border-radius);

  --nu-toggle-shadow: 0 0 1em 0 var(--nu-toggle-color) inset;
  --nu-border-inset: inset 0 0;
  --nu-border-shadow: var(--nu-border-inset) 0 var(--nu-theme-border-width) var(--nu-theme-border-color);
  --nu-depth-shadow: 0 0 0 rgba(0, 0, 0, 0);

  position: relative;
  display: inline-grid;
  border-radius: var(--nu-border-radius, .5rem);
  place-content: stretch;
  place-items: center;
  grid-auto-flow: column;
  grid-gap: .5rem;
  padding: .5rem 1rem;
  color: var(--nu-theme-color);
  background-color: var(--nu-theme-background-color);
  cursor: pointer;
  box-shadow: var(--nu-border-shadow),
    var(--nu-toggle-shadow),
    var(--nu-focus-background-shadow),
    var(--nu-depth-shadow);
  transition: box-shadow var(--nu-theme-animation-time) linear;
  user-select: none;
  vertical-align: middle;
  opacity: 1;
  z-index: 0; /* to make :hover::after z-index work as expected */
  box-sizing: border-box;
  white-space: nowrap;
}

nu-btn:not([disabled])::after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: background-color var(--nu-theme-animation-time) linear;
  background-color: rgba(128, 128, 128, 0);
  border-radius: inherit;
}

nu-btn:not([disabled]):hover::after {
  background-color: rgba(128, 128, 128, .07);
}

nu-btn[disabled] {
  opacity: .5;
  cursor: default;
}

nu-btn[nu-active] {
  text-decoration: none;
  z-index: 2;
}

nu-btn[nu-toggled] {
  z-index: 1;
}

nu-btn[nu-active]:not([disabled]):not([nu-toggled]), nu-btn[nu-toggled]:not([disabled]):not([nu-active]) {
  --nu-toggle-color: rgba(0, 0, 0, var(--nu-theme-depth-opacity));
}

nu-btn[special] {
  --nu-border-color: transparent;
  background-color: var(--nu-theme-special-color);
  color: var(--nu-theme-background-color);
}
