nu-btn {
  --element-border-color: var(--current-border-color, var(--default-border-color)) inset;
  --element-toggle-color: transparent;
  --element-depth-color: transparent;
  --element-border-radius: var(--border-radius, .5rem);

  --element-toggle-shadow: 0 0 1rem 0 var(--element-toggle-color) inset;
  --element-border-shadow: 0 0 0 var(--pixel) var(--element-border-color);
  --element-depth-shadow: 0 .25rem 1.5rem var(--element-depth-color);

  position: relative;
  display: inline-grid;
  border-radius: var(--border-radius, .5rem);
  place-content: stretch;
  place-items: center;
  grid-auto-flow: column;
  grid-gap: .5rem;
  padding: .5rem 1rem;
  color: var(--current-color, var(--color, #333));
  background-color: var(--current-background-color, var(--background-color, #fff));
  cursor: pointer;
  box-shadow: var(--element-depth-shadow),
    var(--element-focus-background-shadow),
    var(--element-toggle-shadow),
    var(--element-border-shadow);
  transition: box-shadow var(--quick-animation-time) linear;
  user-select: none;
  vertical-align: middle;
  opacity: 1;
  z-index: 0; /* to make :hover::after z-index work as expected */
}

nu-btn:not([disabled])::after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: background-color var(--quick-animation-time) linear;
  background-color: rgba(128, 128, 128, 0);
  border-radius: var(--border-radius);
}

nu-btn:not([disabled]):hover::after {
  background-color: rgba(128, 128, 128, .07);
}

nu-btn[disabled] {
  opacity: .5;
  cursor: default;
}

nu-btn[nu-active]:not([disabled]) {
  text-decoration: none;
}

nu-btn[nu-active]:not([nu-inverted]):not([nu-toggled]):not([disabled]) {
  --element-toggle-color: rgba(0, 0, 0, 0.1);
}

nu-btn[nu-active][nu-inverted]:not([nu-toggled]):not([disabled]) {
  --element-toggle-color: rgba(0, 0, 0, 0.2);
}

nu-btn[nu-toggled]:not([nu-active]) {
  --element-toggle-color: rgba(0, 0, 0, 0.1);
}
