nu-toggle {
  --element-border-color: var(--current-border-color, var(--border-color, #ddd));
  --element-depth-color: transparent;
  --element-border-radius: calc(var(--element-size) / 2);

  --element-border-shadow: 0 0 0 var(--pixel) var(--element-border-color) inset;
  --element-depth-shadow: 0 .25rem 1.5rem var(--element-depth-color);
  --element-background-color: var(--current-background-color, var(--background-color, #fff));

  --element-size: 2em;
  --element-circle-padding: calc(var(--pixel) * 4);
  --element-circle-size: calc(var(--element-size) - var(--element-circle-padding) * 2);
  --element-circle-offset: var(--element-circle-padding);
  --element-circle-opacity: .5;
  --element-circle-border-radius: calc(var(--element-circle-size) / 2);
  /*--element-circle-background: var(--current-background-color, var(--background-color, #fff));*/
  --element-circle-background-color: var(--current-color, var(--color, #333));

  position: relative;
  display: inline-block;
  width: calc(var(--element-size) * 2);
  height: var(--element-size);
  border-radius: var(--element-border-radius);
  background-color: var(--element-background-color);
  cursor: pointer;
  box-shadow: var(--element-depth-shadow),
    var(--element-focus-background-shadow),
    var(--element-border-shadow);
  transition: box-shadow var(--quick-animation-time) linear,
  filter var(--quick-animation-time) linear;
  will-change: box-shadow, filter;
  user-select: none;
  vertical-align: middle;
}

nu-toggle[nu-inverted]:not([nu-toggled]) {
  --element-border-color: transparent !important;
}

nu-toggle:not([nu-inverted])[nu-toggled] {
  --element-border-color: transparent !important;
}

nu-toggle[nu-inverted][nu-toggled] {
  --element-border-color: var(--current-background-color, var(--background-color, #fff));
}

nu-toggle:not([disabled])::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--element-circle-size);
  height: var(--element-circle-size);
  pointer-events: none;
  left: 0;
  top: var(--element-circle-padding);
  transform: translate(var(--element-circle-offset), 0);
  transition: transform var(--quick-animation-time) linear,
    opacity var(--quick-animation-time) linear,
    background-color var(--quick-animation-time) linear;
  background-color: var(--element-circle-background-color);
  border-radius: var(--element-circle-border-radius);
  /*box-shadow: var(--element-border-shadow);*/
  opacity: var(--element-circle-opacity);
}

nu-toggle[disabled] {
  opacity: .5;
  cursor: default;
}

nu-toggle[nu-toggled] {
  --element-background-color: var(--current-special-color, var(--default-special-color, #fff));
  --element-circle-offset: calc(var(--element-size) * 2 - var(--element-circle-padding) - var(--element-circle-size));
  --element-circle-opacity: 1;
  --element-circle-background-color: var(--current-background-color, var(--default-background-color, #333));
}
