nu-line {
  --nu-line-color: var(--nu-theme-border-color);
  --nu-line-size: var(--nu-theme-border-width);

  display: block;
  position: relative;
  line-height: 0;
  align-self: stretch;
  justify-self: stretch;
  background-color: var(--nu-line-color);
}

[nu-layout="flex"][nu-flow^="column"] > nu-line {
  min-height: var(--nu-line-size);
  max-height: var(--nu-line-size);
  min-width: 100%;
  max-width: 100%;
}

[nu-layout="flex"][nu-flow^="row"] > nu-line {
  min-width: var(--nu-line-size);
  max-width: var(--nu-line-size);
  min-height: 100%;
  max-height: 100%;
}

[nu-layout="grid"][nu-flow="column"] > nu-line {
  grid-column: 1 / -1;
  min-height: var(--nu-line-size);
  max-height: var(--nu-line-size);
}

[nu-layout="grid"][nu-flow="row"] > nu-line {
  grid-row: 1 / -1;
  min-width: var(--nu-line-size);
  max-width: var(--nu-line-size);
}

:not([nu-layout="grid"]):not([nu-layout="flex"]) > nu-line {
  min-height: var(--nu-line-size);
  max-height: var(--nu-line-size);
}
