nu-input {
  --nu-border-color: var(--current-border-color, var(--default-border-color, #eee));
  --nu-depth-color: transparent;
  --nu-border-radius: var(--border-radius, .5rem);
  --nu-padding: .5rem;

  --nu-border-shadow: 0 0 0 var(--default-border-width) var(--nu-border-color) inset;
  --nu-depth-shadow: 0 0 0 var(--default-border-width) var(--nu-depth-color);

  position: relative;
  border-radius: var(--nu-border-radius);
  display: grid;
  place-self: stretch;
  place-items: stretch;
  grid-auto-flow: column;
  background-color: var(--current-background-color, var(--default-background-color, #fff));
  box-shadow: var(--nu-focus-background-shadow);
  transition: box-shadow var(--quick-animation-time) linear;
  outline: none;
}

nu-input::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-radius: var(--nu-border-radius);
  transition: box-shadow var(--quick-animation-time) linear;
  box-shadow:
    var(--nu-depth-shadow),
    var(--nu-border-shadow);
}

nu-input input {
  padding: var(--nu-padding);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  border-radius: inherit;
}

nu-input input[disabled] {
  color: var(--minor-color);
  background: var(--minor-background-color);
  -webkit-text-fill-color: var(--minor-color);
  -webkit-opacity: 1;
}

nu-input input::placeholder {
  -webkit-text-fill-color: currentColor;
  color: currentColor;
  opacity: .5;
}