nu-input {
  --element-border-color: var(--current-color, var(--border-color, #eee));
  --element-depth-color: transparent;
  --element-border-radius: var(--border-radius, .5rem);
  --element-padding: .5rem;

  --element-border-shadow: 0 0 0 var(--pixel) var(--element-border-color) inset;
  --element-depth-shadow: 0 0 0 var(--pixel) var(--element-depth-color);

  position: relative;
  border-radius: var(--element-border-radius);
  display: grid;
  place-self: stretch;
  place-items: stretch;
  background-color: var(--current-background-color, var(--background-color, #fff));
  box-shadow: var(--element-focus-background-shadow);
  will-change: box-shadow;
  transition: box-shadow var(--quick-animation-time) linear;
  outline: none;
}

nu-input::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-radius: var(--element-border-radius);
  will-change: box-shadow;
  transition: box-shadow var(--quick-animation-time) linear;
  box-shadow:
    var(--element-depth-shadow),
    var(--element-border-shadow);
}

nu-input input {
  padding: var(--element-padding);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  border-radius: var(--element-border-radius);
}

nu-input input[disabled] {
  color: var(--minor-color);
  background: var(--minor-background-color);
  -webkit-text-fill-color: var(--minor-color);
  -webkit-opacity: 1;
}

nu-input input::placeholder {
  -webkit-text-fill-color: currentColor;
  color: currentColor;
  opacity: .5;
}