nu-scroll {
  --nu-line-color: var(--nu-theme-special-color);
  --nu-line-size: .25rem;
  --nu-line-offset: 0%;
  --nu-line-length: 0%;

  display: block;
  position: absolute;
  top: 0;
  transform: translate(0, var(--nu-line-offset));
  right: var(--nu-pixel);
  height: var(--nu-line-length);
  width: var(--nu-line-size);
  line-height: 0;
  background-color: var(--nu-line-color);
  opacity: .5;
  transition: opacity var(--nu-theme-animation-time) linear,
    transform calc(var(--nu-theme-animation-time) / 2) ease-out;
  border-radius: .25rem;
  pointer-events: none;
}

[data-nu-no-scroll]::-webkit-scrollbar {
  display: none;
}
