nu-card {
  --nu-border-radius: var(--default-border-radius);

  display: block;
  position: relative;
  padding: 1rem;
  scrollbar-width: none;
  background-color: var(--current-background-color);
}
