nu-card {
  display: block;
  position: relative;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: var(--background-color);
  scrollbar-width: none;
}

nu-card[theme]:not([nu-inverted]).-nu-border {
  --nu-border-color: var(--current-color, var(--border-color)) !important
}
