nu-icon {
  --nu-size: 1em;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 1em;
  min-height: 1em;
  background-color: transparent !important;
}

nu-icon > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--nu-size);
  height: var(--nu-size);
  transform: translate(-50%, -50%);
}

nu-icon > :not(svg) {
  display: none;
}
