nu-responsive {
  display: none;
}

nu-grid, nu-pane {
  display: grid;
}

nu-grid, nu-block, nu-pane, nu-layout, nu-table, nu-badge, nu-card {
  --nu-border-color: transparent;
  --nu-depth-color: transparent;
  --nu-border-shadow: 0 0 0 var(--pixel) var(--nu-border-color);
  --nu-depth-shadow: 0 0 1.5rem var(--nu-depth-color);

  box-shadow: var(--nu-depth-shadow), var(--nu-border-shadow);
  box-sizing: border-box;
}

nu-block {
  display: block;
}

nu-flex, nu-layout {
  --nu-flow: row nowrap;
  --nu-width: initial;
  --nu-height: initial;
  --nu-gap: 0;
  --nu-flow-gap: 0;
  --nu-h-gap: 0;
  --nu-v-gap: 0;

  display: flex;
  flex-flow: var(--nu-flow);
  width: calc(var(--nu-width) + var(--nu-h-gap));
  height: calc(var(--nu-height) + var(--nu-v-gap));
  margin-right: calc(var(--nu-h-gap) * -1);
  margin-bottom: calc(var(--nu-v-gap) * -1);
}

nu-flex > *, nu-layout > * {
  margin-right: var(--nu-h-gap);
  margin-bottom: var(--nu-v-gap);
}

nu-layout {
  --nu-flow: column nowrap;
  place-content: stretch start;
  place-items: stretch;
}

nu-pane {
  grid-auto-flow: column;
  place-content: stretch space-between;
  place-items: center;
  grid-gap: .5rem;
  width: 100%;
}

[nu-focusable] {
  --nu-focus-color: transparent;
  --nu-focus-background-color: transparent;
  --nu-focus-shadow: 0 0 0 0.1875rem var(--nu-focus-color);
  --nu-focus-background-shadow: 0 0 0 0.1875rem var(--nu-focus-background-color);

  outline: none;
}

[nu-focusable]::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-radius: var(--nu-border-radius);
  box-shadow: var(--nu-focus-shadow);
  opacity: .5;
  transition: box-shadow var(--quick-animation-time) linear;
}

[nu-focusable][nu-focus] {
  z-index: 1;
}

[nu-focusable][nu-focus]:not(.-nu-cell) {
  --nu-focus-color: var(--current-special-color, var(--primary-color, #333));
  --nu-focus-background-color: var(--current-background-color, var(--background-color, #fff));
}

[nu-focusable][nu-focus].-nu-cell {
  --nu-focus-color: var(--current-special-color, var(--primary-color, #333)) inset;
  --nu-focus-background-color: var(--current-background-color, var(--background-color, #fff)) inset;
}

[nu-focusable][disabled] {
  --nu-focus-color: transparent !important;
}
