nu-responsive {
  display: none;
}

nu-grid, nu-pane {
  display: grid;
}

nu-grid[inline], nu-pane[inline] {
  display: inline-grid;
}

nu-grid, nu-block, nu-pane, nu-flow, nu-grid-table, nu-badge, nu-card, nu-flex {
  --nu-border-radius: 0rem;
  --nu-border-shadow: 0 0 0 0 var(--current-border-color, var(--default-border-color));
  --nu-depth-shadow: 0 0 0 rgba(0, 0, 0, 0);

  box-shadow: var(--nu-depth-shadow), var(--nu-border-shadow);
  border-radius: var(--nu-border-radius);
  box-sizing: border-box;
}

nu-block {
  display: block;
}

nu-flex, nu-flow, nu-btn-group {
  display: flex;
}

nu-flex[inline], nu-flow[inline], nu-btn-group[inline] {
  display: inline-flex;
}

[nu-layout="flex"][nu-flow="row-reverse"] {
  flex-flow: row-reverse nowrap;
}

[nu-layout="flex"][nu-flow="column"] {
  flex-flow: column nowrap;
}

[nu-layout="flex"][nu-flow="column-reverse"] {
  flex-flow: column-reverse nowrap;
}

[nu-layout="flex"][nu-flow="row"] > :not(:last-child) {
  margin-right: var(--nu-flex-gap);
}

[nu-layout="flex"][nu-flow="row-reverse"] > :not(:last-child) {
  margin-left: var(--nu-flex-gap);
}

[nu-layout="flex"][nu-flow="column"] > :not(:last-child) {
  margin-bottom: var(--nu-flex-gap);
}

[nu-layout="flex"][nu-flow="column-reverse"] > :not(:last-child) {
  margin-top: var(--nu-flex-gap);
}

nu-flow {
  flex-flow: column nowrap;
  place-content: stretch start;
  place-items: stretch;
}

nu-pane {
  grid-auto-flow: row;
  grid-template-rows: auto;
  place-content: stretch space-between;
  place-items: center;
  grid-gap: .5rem;
  width: 100%;
}

[nu-focusable] {
  --nu-focus-color: transparent;
  --nu-focus-background-color: transparent;
  --nu-focus-shadow: 0 0 0 0.1875rem var(--nu-focus-color);
  --nu-focus-background-shadow: 0 0 0 0.1875rem var(--nu-focus-background-color);

  outline: none;
}

[nu-focusable]::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-radius: var(--nu-border-radius);
  box-shadow: var(--nu-focus-shadow);
  opacity: .5;
  transition: box-shadow var(--quick-animation-time) linear;
}

[nu-focusable][nu-focus] {
  z-index: 10;
}

[nu-focusable][nu-focus] {
  --nu-focus-color: var(--current-special-color, var(--primary-color, #333));
}

[nu-focusable][nu-focus]:not(.-nu-cell) {
  --nu-focus-background-color: var(--default-background-color, #fff);
}

[nu-focusable][nu-focus].-nu-cell {
  --nu-focus-background-color: var(--default-background-color, #fff) inset;
}

[nu-focusable][disabled] {
  --nu-focus-color: transparent !important;
}

[nu-theme="current"] {
  color: var(--current-color);
  background-color: var(--current-background-color);
}

[nu-theme="!current"] {
  color: var(--current-background-color);
  background-color: var(--current-color);
}
