nu-grid-table {
  --nu-cell-padding: .5rem;
  --nu-theme-color: var(--minor-color);
  --nu-theme-background-color: var(--minor-background-color);

  display: grid;
  grid-gap: var(--nu-theme-border-width);
  background-color: var(--nu-theme-border-color) !important;
  color: var(--nu-theme-color, #333);
  overflow: auto;
  max-width: 100%;
}

nu-cell, nu-grid-cell {
  position: relative;
  background-color: var(--nu-theme-background-color, #fff);
  color: var(--minor-color, #333);
}

nu-grid-cell {
  display: grid;
  grid-auto-flow: column;
}

nu-cell, nu-grid-cell {
  padding: var(--nu-cell-padding);
}

nu-cell {
  display: block;
  text-align: left;
}

nu-cell[nu-header], nu-grid-cell[nu-header] {
  color: var(--nu-theme-color);
  background-color: var(--nu-theme-background-color);
  font-weight: 600;
}

nu-cell[nu-group], nu-grid-cell[nu-group] {
  color: var(--nu-theme-background-color);
  background-color: var(--nu-theme-color);
  font-weight: 600;
}
