nu-grid-table {
  --nu-cell-padding: .5rem;
  --current-color: var(--minor-color);
  --current-background-color: var(--minor-background-color);

  display: grid;
  grid-gap: var(--default-border-width);
  background-color: var(--current-border-color, var(--default-border-color, #d2ddec)) !important;
  color: var(--default-color, #333);
  overflow: auto;
  max-width: 100%;
}

nu-cell, nu-grid-cell {
  position: relative;
  background-color: var(--default-background-color, #fff);
  color: var(--minor-color, #333);
}

nu-grid-cell {
  display: grid;
  grid-auto-flow: column;
}

nu-cell, nu-grid-cell {
  padding: var(--nu-cell-padding);
}

nu-cell {
  display: block;
  text-align: left;
}

nu-cell[nu-header], nu-grid-cell[nu-header] {
  color: var(--current-color);
  background-color: var(--current-background-color);
  font-weight: 600;
}

nu-cell[nu-group], nu-grid-cell[nu-group] {
  color: var(--current-background-color);
  background-color: var(--current-color);
  font-weight: 600;
}

nu-cell:not([nu-group]):not([nu-header]):not([theme]) {
  --current-color: var(--default-color, #333);
  --current-background-color: var(--default-background-color, #fff);
}
