body {
  --nu-base: 16px;
  --nu-pixel: 1px;

  --nu-border-radius: 0.5rem;
  --nu-padding: 0.5rem;
  --nu-border-width: 1px;
  --nu-animation-time: 0.08s;
  --nu-text-color: rgba(51, 51, 51, 1);
  --nu-bg-color: rgba(255, 255, 255, 1);

  --nu-font-size: 1rem;
  --nu-line-height: 1.5rem;
}

body:not(.nu-prevent-defaults) {
  line-height: 1rem;
}

body:not(.nu-prevent-defaults) > *:not([size]) {
  line-height: 1.5rem;
}

.nu-defaults, body:not(.nu-prevent-defaults) {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Avenir', Helvetica, Ubuntu, 'DejaVu Sans', Arial, sans-serif;
  font-size: var(--nu-base);
  color: var(--nu-text-color);
  background-color: var(--nu-bg-color);
  font-weight: 400;
  word-spacing: calc(1rem / 8);
  min-height: 100vh;
  text-align: left;
  text-size-adjust: none;
  transition: background-color var(--nu-animation-time) linear;
}

.nu-defaults:not(body) {
  line-height: 1.5rem;
}

[nu-hidden] {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  html.nu-prefers-color-scheme body {
    background-color: rgba(32, 32, 32, 1);
  }

  html.nu-prefers-color-scheme .nu-dark-invert {
    filter: invert(100%) hue-rotate(180deg);
  }

  html.nu-prefers-color-scheme .nu-dark-dim {
    filter: invert(5%);
  }
}

html.nu-prefers-color-scheme-dark body {
  background-color: rgba(32, 32, 32, 1);
}

html.nu-prefers-color-scheme-dark .nu-dark-invert {
  filter: invert(95%) hue-rotate(180deg);
}

html.nu-prefers-color-scheme-dark .nu-dark-dim {
  filter: invert(5%);
}

@media (prefers-reduced-motion: reduce) {
  .nu-prefers-reduced-motion [theme], body {
    --nu-animation-time: 0.001s !important;
  }
}

html.nu-prefers-reduced-motion-reduce [theme], html.nu-prefers-reduced-motion-reduce body {
  --nu-animation-time: 0.001s !important;
}
