/* RESET.CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NUDE.CSS */

[data-nu-root] {
  --nu-base: 16px;
  --nu-pixel: 1px;

  /* default theme */
  --nu-theme-color: #333;
  --nu-theme-background-color: #fff;
  --nu-theme-border-color: #d2ddec;
  --nu-theme-special-color: #1885d9;
  --nu-theme-border-radius: .5rem;
  --nu-theme-border-width: 1px;
  --nu-theme-depth-opacity: 0.2;
  --nu-theme-animation-time: .08s;

  /* main styles */
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Avenir', Helvetica, Ubuntu, 'DejaVu Sans', Arial, sans-serif;
  font-size: var(--nu-base);
  color: var(--nu-theme-color);
  background: var(--nu-theme-background-color);
  font-weight: 400;
  word-spacing: calc(1rem / 8);
  min-height: 100vh;
  text-align: left;
}

[data-nu-root]:not(body) {
  line-height: 1.5;
}

[data-nu-root] > *:not([size]) {
  line-height: 1.5;
}

[data-nu-root] [nu-hidden] {
  display: none !important;
}

[data-nu-root][data-nu-high-contrast] > * {
  filter: brightness(.5) contrast(1.5) brightness(2);
}

@media (prefers-color-scheme: dark) {
  body[data-nu-root] {
    background-color: rgba(15, 17, 19, 1);
  }

  [data-nu-root] {
    filter: invert(92%) hue-rotate(180deg) brightness(1.05) saturate(1.05);
  }

  [data-nu-root] [data-nu-light] {
    filter: invert(100%) hue-rotate(180deg);
  }

  [data-nu-root][data-nu-high-contrast] > [data-nu-light] {
    filter: brightness(.5) contrast(1.5) brightness(2) invert(100%) hue-rotate(180deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-nu-root] {
    --nu-theme-animation-time: 0.001s;
    --normal-animation-time: 0.001s;
  }
}

[data-nu-root] * {
  box-sizing: border-box;
  margin: 0;
}

[data-nu-root] b {
  font-weight: 600;
}

[data-nu-root] input, [data-nu-root] textarea {
  color: var(--nu-theme-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

[data-nu-root] ul {
  display: flex;
  flex-flow: column;
}

[data-nu-root] li:not(:last-child) {
  margin-bottom: .5em;
}

[data-nu-root] ul, [data-nu-root] li {
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 1.5;
}

[data-nu-root] h1, [data-nu-root] h2, [data-nu-root] h3, [data-nu-root] h4, [data-nu-root] h5, [data-nu-root] h6 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  filter: contrast(.8) brightness(1.2);
}

[data-nu-root] h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

[data-nu-root] h2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

[data-nu-root] h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}

[data-nu-root] h4 {
  font-size: 1.4rem;
  line-height: 2rem;
}

[data-nu-root] h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

[data-nu-root] h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

[data-nu-root] [theme=""] {
  color: var(--nu-theme-color);
  background-color: var(--nu-theme-background-color);
}
