html {
  --base: 16px;
  --pixel: 1px;
  --border-radius: .5rem;

  /* main theme */
  --color: #333;
  --background-color: #fff;
  --shadow-color: rgba(18, 38, 63, 0.1);
  --border-color: #d2ddec;
  --body-color: #f9fbfd;

  /* default theme */
  --default-color: #333;
  --default-background-color: #fff;
  --default-border-color: #d2ddec;
  --default-special-color: #3297db;/* #3297db88; */
  --default-border-radius: .5rem;

  /* current theme */
  --current-color: #333;
  --current-background-color: #fff;

  /* minor theme */
  --minor-color: rgba(93, 113, 143, 1);
  --minor-background-color: #f4f5f6;

  --transparent-color: var(--color);
  --transparent-background-color: transparent;

  /* action themes */
  --primary-color: #3297db; /* your main color here */
  --success-color: #2cb93c;
  --danger-color: #e63757;

  /* animation */
  --quick-animation-time: .08s;
  --normal-animation-time: .2s;

  /* shadow */
  --depth-shadow: 0 0.25rem 1.5rem var(--shadow-color);
  --border-shadow: 0 0 0 var(--pixel) var(--border-color);

  /* main styles */
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Avenir', Helvetica, Ubuntu, DejaVu Sans, Arial, sans-serif;
  font-size: var(--base);
  color: var(--color);
  font-weight: normal;
  line-height: 1.5;
  word-spacing: calc(1rem / 8);
}

body {
  margin: 0;
  padding: 0;
  min-width: var(--min-width);
  /*overscroll-behavior: none;*/
}

body > * {
  background-color: var(--body-color);
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(90%) hue-rotate(180deg);
    background-color: rgba(15, 17, 19, 1);
  }

  html [data-no-filter] {
    filter: invert(100%) hue-rotate(180deg) !important;
  }
}

html.reduced-motion {
  --quick-animation-time: 0.001s;
  --normal-animation-time: 0.001s;
}

* {
  box-sizing: border-box;
  margin: 0;
}

b {
  font-weight: 600;
}

input, textarea {
  color: var(--color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  display: flex;
  flex-flow: column;
}

li:not(:last-child) {
  margin-bottom: .5em;
}

ul, li {
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .-nu-h1, .-nu-h2, .-nu-h3, .-nu-h4, .-nu-h5, .-nu-h6 {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 700;
}

h1, .-nu-h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2, .-nu-h2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

h3, .-nu-h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h4, .-nu-h4 {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

h5, .-nu-h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

h6, .-nu-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

a {
  color: var(--primary-color);
  font-weight: 500;
}

a:not(:focus):not(:hover) {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  outline: none;
}
