[data-nu-root] {
  --base: 16px;
  --pixel: 1px;
  --border-radius: .5rem;
  --nu-depth-opacity: 0.1;

  /* main theme */
  --color: #333;
  --background-color: #fff;
  --border-color: #d2ddec;
  --root-color: #f9fbfd;

  /* default theme */
  --default-color: #333;
  --default-background-color: #fff;
  --default-border-color: #d2ddec;
  --default-special-color: #3297db;/* #3297db88; */
  --default-border-radius: .5rem;

  /* current theme */
  --current-color: var(--default-color);
  --current-background-color: var(--default-background-color);
  --current-border-color: var(--default-border-color);
  --current-sepcial-color: var(--default-special-color);

  /* minor theme */
  --minor-color: rgba(93, 113, 143, 1);
  --minor-background-color: #f4f5f6;
  --minor-border-color: var(--default-border-color);
  --minor-sepcial-color: var(--default-special-color);

  --transparent-color: var(--default-color);
  --transparent-background-color: transparent;
  --transparent-border-color: var(--default-border-color);
  --transparent-sepcial-color: var(--default-special-color);

  /* action themes */
  --primary-color: #3297db; /* your main color here */
  --success-color: #2cb93c;
  --danger-color: #e63757;

  /* animation */
  --quick-animation-time: .08s;
  --normal-animation-time: .2s;

  /* main styles */
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Avenir', Helvetica, Ubuntu, DejaVu Sans, Arial, sans-serif;
  font-size: var(--base);
  color: var(--default-color);
  font-weight: normal;
  line-height: 1.5;
  word-spacing: calc(1rem / 8);

  min-height: 100vh;
  background-color: var(--root-color);
}

[data-nu-high-contrast] > * {
  filter: brightness(.5) contrast(1.5) brightness(2);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(15, 17, 19, 1);
  }

  [data-nu-root] {
    filter: invert(92%) hue-rotate(180deg) brightness(1.05) saturate(1.05);
  }

  [data-nu-root] [data-nu-light] {
    filter: invert(100%) hue-rotate(180deg);
  }

  [data-nu-root][data-nu-high-contrast] > [data-nu-light] {
    filter: brightness(.5) contrast(1.5) brightness(2) invert(100%) hue-rotate(180deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-nu-root] {
    --quick-animation-time: 0.001s;
    --normal-animation-time: 0.001s;
  }
}

[data-nu-root] * {
  box-sizing: border-box;
  margin: 0;
}

[data-nu-root] b {
  font-weight: 600;
}

[data-nu-root] input, [data-nu-root] textarea {
  color: var(--default-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

[data-nu-root] ul {
  display: flex;
  flex-flow: column;
}

[data-nu-root] li:not(:last-child) {
  margin-bottom: .5em;
}

[data-nu-root] ul, [data-nu-root] li {
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 1.5;
}

[data-nu-root] h1, [data-nu-root] h2, [data-nu-root] h3, [data-nu-root] h4, [data-nu-root] h5, [data-nu-root] h6, .-nu-h1, .-nu-h2, .-nu-h3, .-nu-h4, .-nu-h5, .-nu-h6 {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 700;
}

[data-nu-root] h1, .-nu-h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

[data-nu-root] h2, .-nu-h2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

[data-nu-root] h3, .-nu-h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}

[data-nu-root] h4, .-nu-h4 {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

[data-nu-root] h5, .-nu-h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

[data-nu-root] h6, .-nu-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

[data-nu-root] a {
  display: inline-block;
  color: var(--current-link-color, var(--default-special-color));
  white-space: nowrap;
  transition: filter var(--quick-animation-time) linear;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

[data-nu-root] a:hover {
  z-index: 1;
  filter: contrast(.5);
}

[data-nu-root] a:focus {
  outline: none;
  text-decoration: underline;
  z-index: 1;
}
