[data-nu-root] {
  --nu-base: 16px;
  --nu-pixel: 1px;

  /* default theme */
  --nu-theme-color: #333;
  --nu-theme-background-color: #fff;
  --nu-theme-border-color: #d2ddec;
  --nu-theme-special-color: #1885d9;
  --nu-theme-special-background-color: #fff;
  --nu-theme-border-radius: .5rem;
  --nu-theme-border-width: 1px;
  --nu-theme-outline-width: 3px;
  --nu-theme-outline-color: #1885d9;
  --nu-theme-shadow-intensity: 0.2;
  --nu-theme-animation-time: .08s;
  --nu-theme-shadow-color: rgba(0, 0, 0, .2);
  --nu-theme-special-shadow-intensity: .6;

  /* main styles */
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Avenir', Helvetica, Ubuntu, 'DejaVu Sans', Arial, sans-serif;
  font-size: var(--nu-base);
  color: var(--nu-theme-color);
  background: var(--nu-theme-background-color);
  font-weight: 400;
  word-spacing: calc(1rem / 8);
  min-height: 100vh;
  text-align: left;
  text-size-adjust: none;
}

body[data-nu-root] {
  line-height: 1;
}

body[data-nu-root] > *:not([size]) {
  line-height: 1.5;
}

[data-nu-root]:not(body) {
  line-height: 1.5;
}

[data-nu-root] [nu-hidden] {
  display: none !important;
}

html.nu-prefers-high-contrast > * {
  filter: brightness(.5) contrast(1.5) brightness(2);
}

@media (prefers-color-scheme: dark) {
  .nu-prefers-color-scheme body {
    background-color: rgba(15, 17, 19, 1);
  }

  .nu-prefers-color-scheme {
    filter: invert(92%) hue-rotate(180deg) brightness(1.05) saturate(1.05);
  }

  .nu-prefers-color-scheme [data-nu-light] {
    filter: invert(100%) hue-rotate(180deg);
  }

  .nu-prefers-color-scheme.nu-high-contrast > [data-nu-light] {
    filter: brightness(.5) contrast(1.5) brightness(2) invert(100%) hue-rotate(180deg);
  }
}

html.nu-prefers-dark-color-scheme body {
  background-color: rgba(15, 17, 19, 1);
}

html.nu-prefers-dark-color-scheme {
  filter: invert(92%) hue-rotate(180deg) brightness(1.05) saturate(1.05);
}

html.nu-prefers-dark-color-scheme [data-nu-light] {
  filter: invert(100%) hue-rotate(180deg);
}

html.nu-prefers-dark-color-scheme.nu-high-contrast > [data-nu-light] {
  filter: brightness(.5) contrast(1.5) brightness(2) invert(100%) hue-rotate(180deg);
}

@media (prefers-reduced-motion: reduce) {
  .nu-prefers-reduced-motion [data-nu-theme] {
    --nu-theme-animation-time: 0.001s;
  }
}

.nu-prefers-reduced-motion-reduce [data-nu-theme] {
  --nu-theme-animation-time: 0.001s;
}

[data-nu-root] * {
  box-sizing: border-box;
  margin: 0;
}

[data-nu-root] b {
  font-weight: 600;
}

[data-nu-root] input, [data-nu-root] textarea {
  color: var(--nu-theme-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

[data-nu-root] ul {
  display: flex;
  flex-flow: column;
}

[data-nu-root] li:not(:last-child) {
  margin-bottom: .5em;
}

[data-nu-root] ul, [data-nu-root] li {
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 1.5;
}

[data-nu-root] [theme=""] {
  color: var(--nu-theme-color);
  background-color: var(--nu-theme-background-color);
}

[data-nu-root] [theme] {
  color: var(--nu-theme-color);
}
