nu-link {
  position: relative;
  display: inline-block;
  color: inherit;
  white-space: nowrap;
  transition: box-shadow var(--nu-theme-animation-time) linear;
  text-decoration: underline;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: inset 0 -0.1875em transparent;
}

nu-link:hover {
  z-index: 1;
  text-decoration-style: double;
}

nu-link:focus {
  outline: none;
  z-index: 1;
  box-shadow: inset 0 -0.1875em var(--nu-theme-special-background-color);
}

nu-link::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  pointer-events: none;
  transition: opacity var(--nu-theme-animation-time) linear;
  box-shadow: inset 0 -0.1875em var(--nu-theme-special-color);
  opacity: 0;
}

nu-link:focus::before {
  box-shadow: inset 0 -0.1875em var(--nu-theme-special-color);
  opacity: .5;
}

nu-link[special] {
  color: var(--nu-theme-special-color);
}
